<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coe.mapper.ExamStuMapper">

    <resultMap id="BaseScore" type="com.coe.entities.Score">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="studentId" column="student_id" jdbcType="BIGINT"/>
        <result property="examId" column="exam_id" jdbcType="INTEGER"/>
        <result property="courseId" column="course_id" jdbcType="VARCHAR"/>
        <result property="clazzId" column="clazz_id" jdbcType="INTEGER"/>
        <result property="score" column="score" jdbcType="INTEGER"/>
        <result property="quantity" column="quantity" jdbcType="INTEGER"/>
        <result property="answerString" column="answer" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,student_id,exam_id,course_id,clazz_id,score,quantity
    </sql>
    <sql id="Blobs_Column_List">
        id,student_id,exam_id,course_id,clazz_id,score,quantity,answer
    </sql>

    <insert id="insertScore">
        insert into `score` (id,student_id,exam_id,course_id,clazz_id,score,quantity,answer)
            value(#{id},#{studentId},#{examId},#{courseId},#{clazzId},#{score},#{quantity},#{answerString})
    </insert>
    <select id="countScoreNum" resultType="java.lang.Integer">
        select count(*) from `score`
            <trim prefix="where" suffixOverrides="and|or">
                <if test="id!=null and id!=0">
                    id=#{id} and
                </if>
                <if test="studentId!=null and studentId!=0">
                    student_id=#{studentId} and
                </if>
                <if test="examId!=null and examId!=0">
                    exam_id=#{examId} and
                </if>
                <if test="courseId!=null and courseId!=''">
                    course_id=#{courseId} and
                </if>
                <if test="clazzId!=null and clazzId!=0">
                    clazz_id=#{clazzId} and
                </if>
            </trim>
    </select>
    <select id="getScore" resultMap="BaseScore">
        select <include refid="Base_Column_List"/>
        from score
        <trim prefix="where" suffixOverrides="and|or">
            <if test="studentId!=null and studentId!=0">
                student_id=#{studentId} and
            </if>
            <if test="examId!=null and examId!=0">
                exam_id=#{examId} and
            </if>
            <if test="courseId!=null and courseId!=''">
                course_id=#{courseId} and
            </if>
            <if test="clazzId!=null and clazzId!=0">
                clazz_id=#{clazzId} and
            </if>
        </trim>
    </select>
    <select id="getAnswers" resultMap="BaseScore">
        select <include refid="Blobs_Column_List"/>
        from score
        <trim prefix="where" suffixOverrides="and|or">
            <if test="studentId!=null and studentId!=0">
                student_id=#{studentId} and
            </if>
            <if test="examId!=null and examId!=0">
                exam_id=#{examId} and
            </if>
        </trim>
    </select>
</mapper>