<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>班级列表</title>

        <link rel="stylesheet" th:href="@{/static/ElementUI/index.css}">
        <link rel="icon" th:href="@{/static/ElementUI/fonts/element-icons.woff}">
        <link rel="icon" th:href="@{/static/ElementUI/fonts/element-icons.ttf}">
    </head>
    <body>
        <div id="clazzList">
            <template>
                <el-table
                        :data="clazzList"
                        border
                        style="width: 100%">
                    <template slot="empty">
                        <el-empty :image-size="100" description='暂无数据'></el-empty>
                    </template>
                    <el-table-column
                            prop="id"
                            label="班级号"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="teacherNumber"
                            label="教师数"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="studentNumber"
                            label="学生数">
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot="header" slot-scope="scope">
<!--                            <el-button type="primary" size="mini" @click="openDialogForCreateClazz">新增</el-button>-->
                            操作
                        </template>
                        <template slot-scope="scope">
                            <el-link :href="'/coe/class/toMyClassInfo/'+scope.row.id">
                                <el-button
                                        size="mini"
                                        @click="handleEdit(scope.$index, scope.row)">查看</el-button>
                            </el-link>
<!--                            <el-button-->
<!--                                    size="mini"-->
<!--                                    type="danger"-->
<!--                                    @click="handleDelete(scope.$index, scope.row)">删除</el-button>-->
                        </template>
                    </el-table-column>
                </el-table>
            </template>
<!--            <el-button type="text" @click="dialogFormVisible = true">打开嵌套表单的 Dialog</el-button>-->

            <el-dialog title="创建我的班级" :visible.sync="dialogFormVisible">
                <el-form :model="createClazzInfo">
                    <el-form-item label="班级号" :label-width="formLabelWidth">
                        <el-input v-model="createClazzInfo.clazzId" autocomplete="off"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer" class="dialog-footer">
                    <el-button @click="dialogFormVisible = false">取 消</el-button>
                    <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
                </div>
            </el-dialog>
        </div>

    </body>
    <script th:src="@{/static/js/vue.js}"></script>
    <script th:src="@{/static/js/axois.js}"></script>
    <script th:src="@{/static/ElementUI/index.js}"></script>
    <script th:src="@{/static/js/ExamTch/Clazz/myClazzList.js}"></script>

</html>