<!DOCTYPE html>

<html>

<head>

    <!-- 页面meta -->

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>教师个人中心</title>

    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <!-- 引入样式 -->

    <link rel="stylesheet" href="/static/ElementUI/index.css">

    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.css">

    <link rel="stylesheet" href="/static/css/ExamTch/Course/style.css">

</head>

<body class="hold-transition">

<div id="app">

    <div class="content-header">

        <h1>个人中心</h1>

    </div>

    <div class="app-container">

        <div class="box">

            <el-form ref="dataEditForm" :model="formData" label-position="right" label-width="80px">

                <el-row>
                    <el-col :span="6">
                        <el-form-item label="教师编号" prop="id">
                            <el-input v-model="formData.id" :disabled="true"/>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row>
                    <el-col :span="6">
                        <el-form-item label="密码" prop="password">
                            <el-input v-model="formData.password" :disabled="true" show-password/>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row>
                    <el-col :span="6">
                        <el-form-item label="姓名" prop="name">
                            <el-input v-model="formData.name" :disabled="true"/>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row>
                    <el-col :span="6">
                        <el-form-item label="生日" prop="birthday">
                            <el-date-picker type="date" placeholder="选择日期" v-model="formData.birthday" style="width: 100%;" :disabled="true"/>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row>
                    <el-col :span="3">
                        <el-form-item label="年龄" prop="age">
                            <el-input v-model="formData.age" :disabled="true"/>
                        </el-form-item>
                    </el-col>

                    <el-col :span="3">
                        <el-form-item label="性别" prop="sex">
                            <el-input v-model="formData.sex" :disabled="true"/>
                        </el-form-item>
                    </el-col>
                </el-row>

                <el-row>
                    <el-col :span="6">
                        <el-form-item label="教师电话" prop="phone">
                            <el-input v-model="formData.phone" :disabled="true"/>
                        </el-form-item>
                    </el-col>
                </el-row>

            </el-form>

            <div class="filter-container">
                <el-button type="primary" @click="handleCreate1()" >修改个人信息</el-button>
                <el-button type="primary" @click="handleCreate2()">添加课程</el-button>
            </div>

            <!-- 查看个人信息 -->

            <div class="add-form">

                <el-dialog title="个人信息" :visible.sync="dialogFormVisible1">

                    <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right" label-width="100px">

                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="教师编号" prop="id">
                                    <el-input v-model="formData.id" :disabled="true"/>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="密码" prop="password">
                                    <el-input v-model="formData.password"/>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="姓名" prop="name">
                                    <el-input v-model="formData.name" :disabled="true"/>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="生日" prop="birthday">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="formData.birthday" style="width: 100%;"/>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="年龄" prop="age">
                                    <el-input v-model="formData.age"/>
                                </el-form-item>
                            </el-col>

                            <el-col :span="12">
                                <el-form-item label="性别" prop="sex">
                                    <el-input v-model="formData.sex"/>
                                </el-form-item>
                            </el-col>
                        </el-row>

                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="教师电话" prop="phone">
                                    <el-input v-model="formData.phone"/>
                                </el-form-item>
                            </el-col>
                        </el-row>

                    </el-form>

                    <div slot="footer" class="dialog-footer">
                        <el-button @click="cancel()">取消</el-button>
                        <el-button type="primary" @click="updateUser()">确定</el-button>
                    </div>

                </el-dialog>

            </div>
            <!-- 添加课程 -->

            <div class="add-form">

                <el-dialog title="添加课程" :visible.sync="dialogFormVisible2">

                    <el-form ref="dataClazzForm" :model="formData" label-position="right" label-width="100px">

                        <el-select placeholder="请选择课程" v-model="formData.courseId">
                            <el-option
                                    v-for="item in dataList"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>

                    </el-form>

                    <div slot="footer" class="dialog-footer">

                        <el-button @click="cancel()">取消</el-button>

                        <el-button type="primary" @click="addCourse()">确定</el-button>

                    </div>

                </el-dialog>

            </div>
        </div>

    </div>

</div>

</body>

<!-- 引入组件库 -->

    <script src="/static/js/vue.js"></script>

    <script src="/static/ElementUI/index.js"></script>

    <script type="text/javascript" src="/static/js/jquery-3.6.0.js"></script>

    <script src="/static/js/axois.js"></script>

<script>
    var vue = new Vue({
        el: '#app',
        data:{
            dialogFormVisible1:false,//个人信息表单是否可见
            dialogFormVisible2:false,//添加课程表单是否可见
            formData: {},//表单数据
            dataList: [],
            rules: {//校验规则
                password: [{ required: true, message: '密码为必填项', trigger: 'blur' }]
            },
        },

        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.getId();
        },


        methods: {

            //获取id
            getId(){
                axios.get("/teachers/getId").then((res)=>{
                    this.formData.id = res .data;
                    this.getById(this.formData.id);
                });
            },

            //展示个人信息
            getById(id) {
                axios.get("/teachers/getById/"+id).then((res)=>{
                    this.formData = res .data.data;
                });
            },

            //弹出个人信息窗口
            handleCreate1() {
                this.dialogFormVisible1=true;
            },

            handleCreate2() {
                this.dialogFormVisible2=true;
                axios.get("/course/getAll").then((res)=>{
                    this.dataList = res.data ;
                })
            },

            //取消
            cancel(){
                this.dialogFormVisible1=false;
                this.dialogFormVisible2=false;
                this.$message.success("取消成功");
            },

            //修改个人信息
            updateUser() {
                axios.put("/teachers/update/",this.formData).then((res)=>{
                    if (res .data.code === 200){
                        this.$message.success("修改成功");
                        this.dialogFormVisible1=false;
                    }
                    else{
                        this.$message.error("修改失败");
                    }
                }).finally(()=>{
                    this.getById(this.formData.id);
                })
            },
            //添加课程
            addCourse(){
                axios.post("/teachers/saveCourse",this.formData).then((res)=>{
                    //判断添加是否成功
                    if(res.data.code === 200){
                        this.$message.success("添加成功！");
                        this.dialogFormVisible2=false;
                    }
                    else {
                        this.$message.error(res.data.message);
                    }
                });
            },

        }
    })

</script>

</html>