<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>考试</title>
    </head>
    <body>
        <h1>正在考试</h1>
        <table border="1">
            <tr>
                <th>试卷id</th>
                <th>教师id</th>
                <th>班级id</th>
                <th>课程id</th>
                <th>课程名称</th>
                <th>考试开始时间</th>
                <th>考试结束时间</th>
                <th>考试时间</th>
                <th>题目量</th>
                <th>试卷状态</th>
            </tr>
            <tr>
                <td th:text="${exam.getId()}"></td>
                <td th:text="${exam.getTeacherId()}"></td>
                <td th:text="${exam.getClazzId()}"></td>
                <td th:text="${exam.getCourseId()}"></td>
                <td th:text="${exam.getCourse().getName()}"></td>
                <td th:text="${exam.getStartTime()}"></td>
                <td th:text="${exam.getEndTime()}"></td>
                <td th:text="${exam.getTime()}"></td>
                <td th:text="${exam.getQuantity()}"></td>
                <td th:text="${exam.getState()}"></td>
            </tr>
        </table>
        <form th:action="@{/ExamStu/overExam}" method="post">
            <input type="hidden" name="examId" th:value="${exam.getId()}">
            <input type="hidden" name="studentId" th:value="2019213106">
            <div th:each="question:${exam.getQuestionMap()}">
                <p>第[[${question.getKey()}]]题</p>
                题目：<span th:text="${question.getValue().getQuestion()}"></span>
                <div th:each="answer:${question.getValue().getAnswersMap()}">
                    <label>
                        <span th:text="${answer.getValue().getId()}"></span>
                        <input type="radio" th:name="${question.getKey()}" th:value="${answer.getValue().getAnswer()}"><span th:text="${answer.getValue().getAnswer()}"></span>
                    </label>
                </div>
            </div>
            <input type="submit">
        </form>


    </body>
</html>