<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>创建试卷</title>
        <link rel="stylesheet" th:href="@{/static/ElementUI/index.css}">
        <link rel="icon" th:href="@{/static/ElementUI/fonts/element-icons.woff}">
        <link rel="icon" th:href="@{/static/ElementUI/fonts/element-icons.ttf}">
        <link rel="stylesheet" th:href="@{/static/css/ExamTch/Exam/createExam.css}">
    </head>
    <body>

    </body>

    <script th:src="@{/static/js/vue.js}"></script>
    <script th:src="@{/static/ElementUI/index.js}"></script>
    <script th:src="@{/static/js/ExamTch/Exam/createExam.js}"></script>
</html>