<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/static/ElementUI/index.css">
        <link rel="icon" href="/static/ElementUI/fonts/element-icons.woff">
        <link rel="icon" href="/static/ElementUI/fonts/element-icons.ttf">
    </head>
    <body>

    </body>

    <script src="/static/js/vue.js"></script>
    <script src="/static/js/axois.js"></script>
    <script src="/static/ElementUI/index.js"></script>
    <script src="/static/js/ExamStu/Exam/MyScoreList.js"></script>
</html>